﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background-color:#272727;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    height: 100%;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 100%;
    background-color: #272727;
    height: 100%;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #ebebeb;
    width: 100%;
    top: -4px;
    left: -2px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #434343;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    height:100vh;
    background-color: #272727;
    /*background:#272727;*/
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


.menuitem {
    
}

.menuitem img {
  width: 15px;
  height: 15px;
  /*margin:0px 0px 0px 10px;*/
  float:right;
  /*position:relative;*/
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#878787;
    width:100%;
}

div.menu
{
    padding: 10px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px 0px 4px 8px;
    width: auto;
    height:auto;    
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #B1B1B1;
    border: 2px #4e667d solid;
    color: #161d58;
    display:block;
    min-width:80px;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    font-family:Times New Roman;
    width:75%;
    font-size: 0.8vw;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
div.taskmenu
{
    padding: 10px 0px 4px 8px;
}

div.taskmenu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px 0px 4px 8px;
    width: auto;
    height:auto;    
}

div.taskmenu ul li a, div.taskmenu ul li a:visited
{
   
    background: #e8ecee; /* Old browsers */
background: -moz-linear-gradient(top,  #e8ecee 0%, #c6cfd3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8ecee), color-stop(100%,#c6cfd3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8ecee 0%,#c6cfd3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecee', endColorstr='#c6cfd3',GradientType=0 ); /* IE6-9 */

    color: #161d58;
    display:block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    font-family:Helvetica;
    width:auto;
    height:auto;
    font-size: 0.8vw;
}

div.taskmenu ul li a:hover
{
    background: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.taskmenu ul li a:active
{
    background: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}
a img
      {
        border: none;
      }
fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/
.dtghovercolor
{
      background-color :#272727;
}
.dtgalternatecolor
{
      background-color :#7D7D7D;
}
.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    padding:12px 0px 0px 8px;
    
}

.loginDisplay
{
    font-size: 1.1em;

    display: block;
    text-align: right;
    padding: 10px;
    color: #434343;
}

.loginDisplay a:link
{
    color: #161d58;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
.specialBackground
{
    background: #605764; /* Old browsers */
background: -moz-linear-gradient(left, #605764 15%, #3a3a3a 81%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(15%,#605764), color-stop(81%,#3a3a3a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #605764 15%,#3a3a3a 81%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #605764 15%,#3a3a3a 81%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #605764 15%,#3a3a3a 81%); /* IE10+ */
background: linear-gradient(to right, #605764 15%,#3a3a3a 81%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605764', endColorstr='#3a3a3a',GradientType=1 ); /* IE6-9 */
}
.mGrid { width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; }
    .mGrid td { padding: 2px; border: solid 1px #c1c1c1; color: #717171; }
    .mGrid th { padding: 4px 2px; color: #fff; background: #424242 url(grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 0.9em; }
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
    .bluebutton
    {
        border: 1px solid #044062;
        background: #5f9cc5; /* Old browsers */
background: -moz-linear-gradient(top,  #5f9cc5 0%, #396b9e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f9cc5), color-stop(100%,#396b9e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5f9cc5 0%,#396b9e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5f9cc5 0%,#396b9e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5f9cc5 0%,#396b9e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5f9cc5 0%,#396b9e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9cc5', endColorstr='#396b9e',GradientType=0 ); /* IE6-9 */
        color: #fff;
        text-shadow: 0 1px 1px #194b7e;
        padding-top:.7em;
        padding-bottom:.8em;
        -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
        box-shadow:0 1px 4px rgba(0,0,0,.3);
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        padding:.55em 11px .5em;
        display:block;
        width:20%;display:inline-block;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        margin:2px 1px 2px 3px;
        float:left ;
        left:50%;
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        -webkit-background-clip:padding-box;
        -moz-background-clip:padding;
        background-clip:padding-box;
        z-index:1;
        display:block;
        min-height:1em;
        overflow:hidden!important ;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap ;
        font-size:14px ;
         overflow:visible ;
    }
    .bluebutton:hover
    {
        border: 1px solid #044062;
        background: #6facd5; /* Old browsers */
        background: -moz-linear-gradient(top,  #6facd5 0%, #4272a4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6facd5), color-stop(100%,#4272a4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #6facd5 0%,#4272a4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #6facd5 0%,#4272a4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #6facd5 0%,#4272a4 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #6facd5 0%,#4272a4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6facd5', endColorstr='#4272a4',GradientType=0 ); /* IE6-9 */
        color: #fff;
        text-shadow: 0 1px 1px #194b7e;
        padding-top:.7em;
        padding-bottom:.8em;
        -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
        box-shadow:0 1px 4px rgba(0,0,0,.3);
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        padding:.55em 11px .5em;
        display:block;
        width:20%;display:inline-block;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        margin:2px 1px 2px 3px;
        float:left ;
        left:50%;
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        -webkit-background-clip:padding-box;
        -moz-background-clip:padding;
        background-clip:padding-box;
        z-index:1;
        display:block;
        min-height:1em;
        overflow:hidden!important ;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap ;
         overflow:visible ;
    }
    .specialbutton
    { 
        background: #B1B1B1; /* Old browsers */
        font-family: Times New Roman;
        border: 2px #4e667d solid;
        color: #161d58;
        padding-top:.7em;
        padding-bottom:.8em;
        -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
        box-shadow:0 1px 4px rgba(0,0,0,.3);
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        padding:.55em 11px .5em;
        display:block;
        width:80px;display:inline-block;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        margin:2px 1px 2px 3px;
        float:left ;
        left:50%;
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        -webkit-background-clip:padding-box;
        -moz-background-clip:padding;
        background-clip:padding-box;
        z-index:1;
        display:block;
        min-height:1em;
        overflow:hidden!important ;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap ;
         overflow:visible ;
        }
    
.specialbutton:hover
    {
        border: 2px #4e667d solid;
        font-family: Times New Roman;
        background-color: #bfcbd6;
        color: #161d58;
        text-decoration: none;
        padding-top:.7em;
        padding-bottom:.8em;
        -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
        box-shadow:0 1px 4px rgba(0,0,0,.3);
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        padding:.55em 11px .5em;
        display:block;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        margin:2px 1px 2px 3px;
        float:left ;
        left:50%;
        -moz-border-radius:1em;
        -webkit-border-radius:1em;
        border-radius:1em;
        -webkit-background-clip:padding-box;
        -moz-background-clip:padding;
        background-clip:padding-box;
        z-index:1;
        display:block;
        min-height:1em;
        overflow:hidden!important ;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap ;
         overflow:visible ;
        }
        .specialtext
        {
margin-top: 1%;
margin-bottom: 1%;
text-align:center;
font-size: 16px;
width: 40%; 
color: #fff;
-webkit-border-radius: .6em;
border-radius: .6em;
border: 1px inset #444;
background: #222;
        }
                .specialtext:hover
        {
                    
                    text-shadow: 0 1px 0 #fff;
        }
                .abouttext
        {
margin-top: 1%;
margin-bottom: 1%;
text-align:center;
font-size: 12px;
height:25px;
width: 40%; 
color: #fff;
-webkit-border-radius: .6em;
border-radius: .6em;
border: 1px inset #444;
background: #222;
        }
                .abouttext:hover
        {
                    
                    text-shadow: 0 1px 0 #fff;
        }
                        .cltext
        {
margin-top: 1%;
margin-bottom: 1%;
text-align:center;
font-size: 12px;
height:25px;
width: 10%; 
color: #fff;
-webkit-border-radius: .6em;
border-radius: .6em;
border: 1px inset #444;
background: #222;
        }
                .cltext:hover
        {
                    
                    text-shadow: 0 1px 0 #fff;
        }
        .speciallabel
        {
            margin: 2% ;
            font-size: 16px;
            color: #fff;
            text-shadow: 0 1px 1px #111;
            font-weight: normal;
        }
                .aboutlabel
        {
            margin: 2% ;
            font-size: 12px;
            color: #fff;
            text-shadow: 0 1px 1px #111;
            font-weight: normal;
        }
        .specialdiv
        {
            font-size: 16px; 
            line-height: 1.4; 
            font-weight: normal;
             margin: 0 0 .3em; 
             display: block;
             position: relative; 
             display: inline-block; 
             overflow: visible; 
             height: 15px; 
             padding: 0; 
             margin: 0 2% 0 20px; 
             top: 4px; 
             width: 65%;
             
             vertical-align: top; display: inline-block; width: 20%; margin: 0 2% 0 0;
        }
        .specialspanOff
        {
            position: absolute;
text-align: center;
width: 100%;
overflow: hidden;
font-size: 16px;
top: 0;
line-height: 2;
border-width: 0;
white-space: nowrap;
z-index: 0; right: 0; text-indent: 1.5em;

	border: 1px solid 		#bbb /*{c-bdown-border}*/;
	background: 			#d6d6d6 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
		-moz-border-radius: 				1em /*{global-radii-buttons}*/;
	-webkit-border-radius: 				1em /*{global-radii-buttons}*/;
	border-radius: 						1em /*{global-radii-buttons}*/;
	  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
        }
        .specialspanOn
        {
position: absolute; 
text-align: center; 
width: 10%; 
overflow: hidden; 
font-size: 16px; 
top: 0; 
line-height: 2; 
border-width: 0; 
white-space: nowrap;
z-index: 1; 
left: 0; 
text-indent: -1.5em;
border: 1px solid 		#2373a5 /*{global-active-border}*/;
	background: 			#5393c5 /*{global-active-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 /*{global-active-background-start}*/), to( #6facd5 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
		-moz-border-radius: 				1em /*{global-radii-buttons}*/;
	-webkit-border-radius: 				1em /*{global-radii-buttons}*/;
	border-radius: 						1em /*{global-radii-buttons}*/;
	  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.specialdiv2
{
   margin: 0 16px; 
   position: relative; 
   z-index: 1;
}
.specialhref
{
   width: 25px; 
   height: 25px; 
   margin: 1px 0 0 -13px; 
	-moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
		-moz-border-radius: 				1em /*{global-radii-buttons}*/;
	-webkit-border-radius: 				1em /*{global-radii-buttons}*/;
	-webkit-transition: left 70ms linear; 
	-moz-transition: left 70ms linear;
		border: 1px solid 		#ccc /*{c-bup-border}*/;
	background: 			#eee /*{c-bup-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bup-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}

.onoffswitch 
{
    width:45px;
    position: relative; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 17.5px;
    font-size: 8px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #305d35;
    /*background-color: #5f9cc5; /* Old browsers */
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #d6d6d6; color: black;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 5px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 25px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -1.5px; 
}
.specdivbg
{
    width:100%;
    text-align: left;
    background: #444; /* Old browsers */
background: -moz-linear-gradient(top,  #444 0%, #222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444 0%,#222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444 0%,#222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444 0%,#222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* IE6-9 */
}
.popdivbg
{
    width:75%;
    text-align: left;
    background: #444; /* Old browsers */
background: -moz-linear-gradient(top,  #444 0%, #222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444 0%,#222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444 0%,#222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444 0%,#222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* IE6-9 */
}
.cldivbg
{
    
    width:99%;
    text-align: left;
    background: #444; /* Old browsers */
background: -moz-linear-gradient(top,  #444 0%, #222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444 0%,#222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444 0%,#222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444 0%,#222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* IE6-9 */
}
.cellsbgcolorMaroon
{
    height:10px;
        background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}
.cellsbgcolorDark
{
    height:15px;
        background: #444; /* Old browsers */
background: -moz-linear-gradient(top,  #444 0%, #222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444 0%,#222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444 0%,#222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444 0%,#222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* IE6-9 */

}
.retrieveHeaddivbg
{
    width:100%;
    text-align: center;
    /*background: #551111;  Old browsers */
    background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}
.clHeaddivbg
{
    width:99%;
    text-align: left;
    /*background: #551111;  Old browsers */
    background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}
.clHeaddivbgright
{
    margin-left: 7px;
        width:99%;
    text-align: left;
    /*background: #551111;  Old browsers */
    background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}
.cldivbgright
{
    margin-left: 7px;
    width:99%;
    text-align: left;
    background: #444; /* Old browsers */
background: -moz-linear-gradient(top,  #444 0%, #222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444 0%,#222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444 0%,#222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444 0%,#222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* IE6-9 */
}
.inbl {
    display: inline-block;
    vertical-align: top;
}
.container {
    white-space: nowrap;
}
 .Cntrl1
      {
              background: #444; /* Old browsers */
background: -moz-linear-gradient(top,  #444 0%, #222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #444 0%,#222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #444 0%,#222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #444 0%,#222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #444 0%,#222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 ); /* IE6-9 */

      
       color: Yellow;
       border: 1px solid #444;
       font: Verdana 10px;
       padding: 1px 4px;
       font-family: Palatino Linotype, Arial, Helvetica, sans-serif;
      }
      .rounded-corners {
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.module {
  width: 20rem;
  padding: 1.5rem;
  margin: 1.5rem auto;
  background: #51585A;
       -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.tasksfont
{
    font-family:Helvetica;
    font-size: 12px;
    color:#C2C5C1;
    font-weight:bold;
}
.tasksfontText
{
    font-family:Helvetica;
    font-size: 12px;
    color:#21434D;
}
   .headerDBFontText
{
    font-family:Helvetica;
    font-size: 16px;
    color:White;
}
   .mainpagetasksfont
{
    font-family:Helvetica;
    font-size: 0.8vw;
    color:#C2C5C1;
    font-weight:bold;
}
.mainpagetasksfontText
{
    font-family:Helvetica;
    font-size: 0.8vw;
    color:#21434D;
}
   .mainpageheaderDBFontText
{
    font-family:Helvetica;
    font-size: 0.9vw;
    color:White;
}
    .specialTaskbutton
    { 
background: #a0a5a8; /* Old browsers */
background: -moz-linear-gradient(top,  #a0a5a8 0%, #bfc8cc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a5a8), color-stop(100%,#bfc8cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a0a5a8 0%,#bfc8cc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a0a5a8 0%,#bfc8cc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a0a5a8 0%,#bfc8cc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a0a5a8 0%,#bfc8cc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a5a8', endColorstr='#bfc8cc',GradientType=0 ); /* IE6-9 */

        font-family: Helvetica;
        border: 1px White solid;
        color: #405B64;
        padding:5px;
        width:90px;
     font-weight:bold;
        }
    
.specialTaskbutton:hover
    {
        border: 2px #4e667d solid;
background: #a0a5a8; /* Old browsers */
background: -moz-linear-gradient(top,  #a0a5a8 0%, #bfc8cc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a5a8), color-stop(100%,#bfc8cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a0a5a8 0%,#bfc8cc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a0a5a8 0%,#bfc8cc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a0a5a8 0%,#bfc8cc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a0a5a8 0%,#bfc8cc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a5a8', endColorstr='#bfc8cc',GradientType=0 ); /* IE6-9 */

        color: #405B64;
        padding:5px;
        width:90px;

        }
        
        select.custom-dropdown {
/* -webkit-appearance: none;  REMOVES DEFAULT CHROME & SAFARI STYLE*/
/* -moz-appearance: none;  REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/
padding-left:10px;
 color: #21434D;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 12px;
 width: 35%;
 cursor: pointer;
font-family: Helvetica;
background: #e8ecee; /* Old browsers */
background: -moz-linear-gradient(top,  #e8ecee 0%, #c6cfd3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8ecee), color-stop(100%,#c6cfd3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8ecee 0%,#c6cfd3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecee', endColorstr='#c6cfd3',GradientType=0 ); /* IE6-9 */



 background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA   background: #0d98e8 url(drop-down-arrow.png) no-repeat right center;*/
}
select.custom-dropdown:hover {
/* -webkit-appearance: none;  REMOVES DEFAULT CHROME & SAFARI STYLE*/
/* -moz-appearance: none;  REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/
 color: #21434D;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 12px;
 width: 49px;
 Height: 20px;
 cursor: pointer;
font-family: Helvetica;
background: #d6d9db; /* Old browsers */
background: -moz-linear-gradient(top,  #d6d9db 0%, #b1b8bc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d9db), color-stop(100%,#b1b8bc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d6d9db 0%,#b1b8bc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d6d9db 0%,#b1b8bc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d6d9db 0%,#b1b8bc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d6d9db 0%,#b1b8bc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d9db', endColorstr='#b1b8bc',GradientType=0 ); /* IE6-9 */



 background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA   background: #0d98e8 url(drop-down-arrow.png) no-repeat right center;*/
}
.custom-listview {
/* -webkit-appearance: none;  REMOVES DEFAULT CHROME & SAFARI STYLE*/
/* -moz-appearance: none;  REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/
 color: #21434D;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 12px;
 width: 55px;
 Height: 20px;
 cursor: pointer;
font-family: Helvetica;
background: #e8ecee; /* Old browsers */
background: -moz-linear-gradient(top,  #e8ecee 0%, #c6cfd3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8ecee), color-stop(100%,#c6cfd3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8ecee 0%,#c6cfd3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8ecee 0%,#c6cfd3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecee', endColorstr='#c6cfd3',GradientType=0 ); /* IE6-9 */



 background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA   background: #0d98e8 url(drop-down-arrow.png) no-repeat right center;*/
}
.custom-listview:hover {
/* -webkit-appearance: none;  REMOVES DEFAULT CHROME & SAFARI STYLE*/
/* -moz-appearance: none;  REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/
 color: #21434D;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 12px;
 width: 55px;
 Height: 20px;
 cursor: pointer;
font-family: Helvetica;
background: #d6d9db; /* Old browsers */
background: -moz-linear-gradient(top,  #d6d9db 0%, #b1b8bc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d9db), color-stop(100%,#b1b8bc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d6d9db 0%,#b1b8bc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d6d9db 0%,#b1b8bc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d6d9db 0%,#b1b8bc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d6d9db 0%,#b1b8bc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d9db', endColorstr='#b1b8bc',GradientType=0 ); /* IE6-9 */



 background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA   background: #0d98e8 url(drop-down-arrow.png) no-repeat right center;*/
}
.taskbottommarginTop
{
    margin-top:10px;
    margin-bottom:6px;
}
.taskbottommargin
{
    margin-bottom:5px;
}
/* SQUARED FOUR */
.squaredFour {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}

.squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.taskcancelmargin
{
    margin-left:-3px;
}
.rounded-flat
{
    text-indent: 7px;
    outline:none;
  border:solid 0px #BBB;
}
.rounded-flatdesc
{
    text-indent: 5px;
    outline:none;
  border:solid 0px #BBB;
}
.textIndent
{
    text-indent: 5px;
}
/**/
.divgoogleshape
{
border-top-right-radius: 70px 170px;
  border-top-left-radius: 40px 90px;
  width:9%;
  text-indent: 20px;
font-size: 0.9vw;
}
.tempPopBtnMarg
{
    margin-left:-2px;
}
.tempbottommarginTop
{
    margin-top:14px;
    margin-bottom:6px;
}
.tempbottommarginBot
{
    margin-top:-2px;
}
.taskpopchecklistmarg
{
     margin-left:6px;
}
.taskbtncancelmargin
{
    margin-left:-5px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.scalefont07{
    font-size: 0.7vw;
}
.scalefont06{
    font-size: 0.6vw;
}
.scalefont05{
    font-size: 0.5vw;
}
.dashboardscalefont{
    font-size: 0.8vw;
}
.dashboardheaderscalefont{
    font-size: 0.9vw;
}
.headerscalefont{
    font-size: 1vw;
}
.submenudiv{
    background-color: #51585A;color:White;height:28px;width:90%;margin:5%;line-height:28px;
    /*background-color: #51585A;color:White;width:100%;min-height:20px;margin:10%;*/
}
.tasksfont09
{
    font-family:Helvetica;
    font-size: 0.9vw;
    color:#C2C5C1;
    font-weight:bold;
}
.tasksfont08
{
    font-family:Helvetica;
    font-size: 0.8vw;
    color:#C2C5C1;
    font-weight:bold;
}
.cpercent {display: inline-block;line-height: 100px;z-index: 2; font-size:2em; color:#1abc9c;}
.cchart {position:relative;display:inline-block;width:110px;height:110px;text-align:center;color:#fff;}
.cchart canvas {position: absolute;top: 0;left: 0;z-index:0 !important;}
.mainbody{
    background-color: #505759;border: 1px solid #a1a1a1;padding-bottom:15px;width:100%;height:100%;
}
.bgcolortest{
    color:#C2C5C1;
    height:20px;
    width:20px;

}