@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
.col-sm-16 {
        width: 80%;
        float: left;
    }	
.col-sm-17 {
        width: 40%;
        float: left;
    }   
.col-sm-18 {
        width: 60%;
        float: left;
    }       
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-16 {
        width: 80%;
        float: left;
    }	
    .col-md-17 {
        width: 40%;
        float: left;
    }
    .col-md-18 {
        width: 60%;
        float: left;
    }        
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    .col-lg-16 {
        width: 80%;
        float: left;
    }	
    .col-lg-17 {
        width: 40%;
        float: left;
    }   
    .col-lg-18 {
        width: 60%;
        float: left;
    }           
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1000px;
    }
}