/*@media (min-width: 768px) {
.col-sm-15 {
        width: 50%;
        float: left;
    }
.col-sm-16 {
        width: 80%;
        float: left;
    }	
.col-sm-17 {
        width: 40%;
        float: left;
    }   
.col-sm-18 {
        width: 60%;
        float: left;
    }  
.col-md-15.col-sm-15 {
        width: 50%;
        float: left;
    }     
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-16 {
        width: 80%;
        float: left;
    }	
    .col-md-17 {
        width: 40%;
        float: left;
    }
    .col-md-18 {
        width: 60%;
        float: left;
    }        
}
@media (min-width: 992px) {
    .modal-lg {
        width: 1000px;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    .col-lg-16 {
        width: 80%;
        float: left;
    }	
    .col-lg-17 {
        width: 40%;
        float: left;
    }   
    .col-lg-18 {
        width: 60%;
        float: left;
    }           
}
@media (min-width: 768px){
table.dataTable.table-condensed > thead > tr > th {
    padding: 15px 13px;
}

.progress-bar-title {
    top: 5px;
}


.panel-default.panel-fill {
    margin-top: 40px;
}


.panel-default.panel-fill .vertical-line {
    display: none;
}

.col-md-15 {
        width: 20%;
        float: left;
    }

}*/
@media (min-width: 768px) { 
table.dataTable.table-condensed > thead > tr > th { padding: 15px 13px; }
.progress-bar-title { top: 5px; }
.panel-default.panel-fill { margin-top: 40px; }
.panel-default.panel-fill .vertical-line { display: none; }
.col-sm-15 { float: left; width: 50%; }
.col-sm-16 { float: left; width: 80%; }
.col-sm-17 { float: left; width: 40%; }
.col-sm-18 { float: left; width: 60%; }
.horizontal-chart {height: auto;}
}
@media (min-width: 992px) { 
.col-md-15 { float: left; width: 20%; }
.col-md-16 { float: left; width: 80%; }
.col-md-17 { float: left; width: 40%; }
.col-md-18 { float: left; width: 60%; }
}
@media (min-width: 1200px) { 
.col-lg-15 { float: left; width: 20%; }
.col-lg-16 { float: left; width: 80%; }
.col-lg-17 { float: left; width: 40%; }
.col-lg-18 { float: left; width: 60%; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
.col-sm-15 { float: left; width: 50%; }
table.dataTable.table-condensed > thead > tr > th { padding: 15px 13px; }
.progress-bar-title { top: 5px; }
.panel-default.panel-fill { margin-top: 40px; }
.panel-default.panel-fill .vertical-line { display: none; }
}


