@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
table.dataTable.table-condensed > thead > tr > th { padding: 15px 13px; }
.progress-bar-title { top: 5px; }
.panel-default.panel-fill { margin-top: 40px; }
.panel-default.panel-fill .vertical-line { display: none; }
.col-sm-15 { float: left; width: 50%; margin-bottom: 20px;}
.col-sm-16 { float: left; width: 80%; }
.col-sm-17 { float: left; width: 40%; }
.col-sm-18 { float: left; width: 60%; }
.col-sm-12{ float: left; width: 100%; }
.horizontal-chart {height: auto;}
#incieventStatusLastHeader {margin-bottom: 25px;}
.horizontal-chart .panel-seperator.panel-heading {border-right: 0 none;}
#incieventStatusLastHeader .col-md-2.panel-seperator,.horizontal-chart .col-md-15.panel-seperator,.horizontal-chart .col-md-2.panel-seperator,.horizontal-chart .col-md-2.chart-total,.horizontal-chart .col-md-15.chart-total{text-align: center;}
#incieventStatusLastHeader .col-md-2.panel-seperator,.horizontal-chart .col-md-15.panel-seperator,.horizontal-chart .col-md-2.panel-seperator,.horizontal-chart .col-md-2.chart-total,.horizontal-chart .col-md-15.chart-total{margin-bottom: 25px;border-bottom: 1px solid #ebedf3;padding-bottom: 25px;}

}
@media (min-width: 992px) { 
.col-md-15 { float: left; width: 20%; }
.col-md-16 { float: left; width: 80%; }
.col-md-17 { float: left; width: 40%; }
.col-md-18 { float: left; width: 60%; }
}
@media (min-width: 1200px) { 
.col-lg-15 { float: left; width: 20%; }
.col-lg-16 { float: left; width: 80%; }
.col-lg-17 { float: left; width: 40%; }
.col-lg-18 { float: left; width: 60%; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
.col-sm-15 { float: left; width: 50%; }
#incieventStatusLastHeader .col-md-2.panel-seperator {margin-bottom: 0;border-bottom: 1px solid #ebedf3;padding-bottom: 0;height: 115px;}
.clndr-table .day>.day-contents {width: 27px;}
.horizontal-chart .col-md-15.panel-seperator {
    margin-bottom: auto !important;
    height: 120px !important;
}
.horizontal-chart .col-md-15.chart-total {
    margin-bottom: auto !important;
    height: 120px !important;
}
.horizontal-chart .col-md-2.panel-seperator{
    margin-bottom: auto !important;
    height: 120px !important;
}
.horizontal-chart .col-md-2.chart-total{
    margin-bottom: auto !important;
    height: 120px !important;
}
.col-sm-12 {
    width: 100% !important;
}
}

