﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ArrowLabs.Licence.Portal.SiteMaster" %>
<html class="no-js">

<head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width,height=device-height,user-scalable=yes">
    <title>MIMS SERVER PORTAL</title>



  <script src="https://testportalcdn.azureedge.net/alloy-ui/build/aui/aui.js" type="text/javascript"></script>
    
	<link rel="stylesheet" href="https://testportalcdn.azureedge.net/alloy-ui/build/aui-skin-classic/css/aui-skin-classic-all-min.css" type="text/css" media="screen" />

        <link rel="apple-touch-icon" sizes="57x57" href="https://testportalcdn.azureedge.net/Images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://testportalcdn.azureedge.net/Images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://testportalcdn.azureedge.net/Images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://testportalcdn.azureedge.net/Images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://testportalcdn.azureedge.net/Images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://testportalcdn.azureedge.net/Images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://testportalcdn.azureedge.net/Images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://testportalcdn.azureedge.net/Images/favicons/apple-EnterKeyFiltertouch-icon-152x152.png">
    <link rel="icon" type="image/png" href="https://testportalcdn.azureedge.net/Images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://testportalcdn.azureedge.net/Images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://testportalcdn.azureedge.net/Images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://testportalcdn.azureedge.net/Images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="https://testportalcdn.azureedge.net/Images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
<%--    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/bootstrap-select.css">
    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/bootstrap.css">--%>
        <link rel="stylesheet" href="<%= Page.ResolveClientUrl("~/styles/bootstrap-select.css") %>">
    <link rel="stylesheet" href="<%= Page.ResolveClientUrl("~/styles/bootstrap.css") %>">
<%--    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/dependencies.css">--%>
        <link rel="stylesheet" href="<%= Page.ResolveClientUrl("~/styles/dependencies.css") %>">
    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/wrapkit.css">
<%--    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/components.css">--%>
        <link rel="stylesheet" href="<%= Page.ResolveClientUrl("~/styles/components.css") %>">
<%--    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/styles.css">--%>
        <link rel="stylesheet" href="<%= Page.ResolveClientUrl("~/styles/styles.css") %>">
    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/styles-media.css">
    <link rel="stylesheet" href="https://testportalcdn.azureedge.net/styles/sweetalert.css">
    <script>
        function EnterKeyFilter() {
            try {
                if (window.event.keyCode == 13) {
                    event.returnValue = false;
                    event.cancel = true;
                }
            }
            catch (ex) {
                //alert(ex);
            }
        }
        </script>

        <style>
            #myProgressincident {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: cornflowerblue;
}
#myBarTask {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: cornflowerblue;
}
#myBarTick {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: cornflowerblue;
}
#incidentmyBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: cornflowerblue;
}
            #incidentmyProgress {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: grey;
}
            	            .dz-error-message {
    display: none !important; 
}
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('https://testportalcdn.azureedge.net/Images/FhHRx.gif') 50% 50% no-repeat;
    }

    body.loading {
        overflow: hidden;
    }

        body.loading .modal {
            display: block;
        }
</style>
        <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>


      <script src="https://testportalcdn.azureedge.net/Scripts/jquery-2.1.4.min.js"></script>
     <script type="text/javascript" src="https://testportalcdn.azureedge.net/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcdeEV_XgvHn-v_5Tn0YF8RF3oyRCaKxY&libraries=drawing,places"></script>
</head>
<body onclick="javascript:EnterKeyFilter();" class="wrapkit-sidebar-left wrapkit-sidebar-vertical bg-grd-dark wrapkit-sidebar-sm main-page">
    <div class="modal"></div>
<div id="dialog" title="Warning" style="display:none"></div>

    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main class="wrapkit-wrapper" id="wrapper">
        <!-- ============================================
    SIDEBAR SECTION
    =============================================== -->
        <aside role="complementary" class="sidebar sidebar-dark" data-init-sidebar="true">
            <!-- profile -->
            <div class="sidebar-block" style="">
                <div class="media">
                    <div class="media-left">
                        <a >
                            <img alt="photo profile" src="https://testportalcdn.azureedge.net/Images/custom-images/site-logo.png"  class="media-object">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.sidebar-block -->

            <!-- /navigation -->
            <div class="nav-wrapper">
                <ul role="navigation" class="nav nav-stacked nav-left nav-tabs nav-contrast-teal">
                    <li style="display:<%=dashDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Default.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-tachometer fa-2x"></i></span>
                            <span class="nav-text">Dashboard</span>
                        </a> 
                    </li>
                    <li style="display:<%=inciDisplay%>;" role="presentation" class="nav-item">
                        <span class="notification-box" ><%=pendingIncidents%></span>
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Incident.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-exclamation-circle fa-2x"></i></span>
                            <span class="nav-text">Incidents</span>
                        </a> 
                    </li>
                    <li style="display:<%=taskDisplay%>;" role="presentation" class="nav-item">
                        <span class="notification-box" ><%=pendingTasks%></span>
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Tasks.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-stack-overflow fa-2x"></i></span>
                            <span class="nav-text">Tasks</span>
                        </a>
                    </li>
                    <li style="display:<%=tickDisplay%>;" role="presentation" class="nav-item">
                        <span class="notification-box"><%=pendingTicketing%></span>
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Ticketing.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-file-text-o fa-2x"></i></span>
                            <span class="nav-text">Ticketing</span>
                        </a> 
                    </li>
                    <li style="display:<%=repoDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/ReportPages/Reports.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-bar-chart fa-2x"></i></span>
                            <span class="nav-text">Reports</span>
                        </a> 
                    </li>
                    <li style="display:<%=messDisplay%>;"  role="presentation" class="nav-item">
                        <span class="notification-box"><%=pendingMessages%></span>
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Messages.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-comments-o fa-2x"></i></span>
                            <span class="nav-text">Messages</span>
                        </a> 
                    </li>
                    <li style="display:none;" role="presentation" class="nav-item">
                        <span class="notification-box"><%=pendingVerifier%></span>
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/VerifierPage.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-shield fa-2x"></i></span>
                            <span style="margin-left:-2px" class="nav-text">Verification</span>
                        </a>
                    </li> 
                    <li style="display:<%=deviceDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Devices.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-mobile fa-2x"></i></span>
                            <span class="nav-text">Devices</span>
                        </a>
                    </li>
                    <li style="display:<%=userDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/UsersDB.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-users fa-2x"></i></span>
                            <span class="nav-text">Accounts</span>
                        </a>
                    </li>
                    <li style="display:<%=wareDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Lost.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-suitcase fa-2x" ></i></span>
                            <span class="nav-text">Lost and Found</span>
                        </a>
                    </li>
					                    <li style="display:<%=assetDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/WarehouseP.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-industry fa-2x" ></i></span>
                            <span class="nav-text" style="margin-left:-4px;">Warehouse</span>
                        </a>
                    </li>
                    <li style="display:none;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Surveillance.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-camera fa-2x"></i></span>
                            <span class="nav-text" style="margin-left:-4px;">Surveillance</span>
                        </a>
                    </li>
                    <li style="display:<%=actDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Activity.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-calendar-check-o fa-2x"></i></span>
                            <span class="nav-text" style="margin-left:-4px;">Activity</span>
                        </a>
                    </li>
                    <li style="display:<%=site2Display%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Site.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-sitemap fa-2x"></i></span>
                            <span class="nav-text">Sites</span>
                        </a>
                    </li>
                    <li style="display:<%=siteDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/Customers.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-user fa-2x"></i></span>
                            <span class="nav-text">Clients</span>
                        </a>
                    </li>
                    <li style="display:<%=userDisplay%>;" role="presentation" class="nav-item">
                        <a onclick="showLoader()" href="<%= Page.ResolveClientUrl("~/Pages/SupportP.aspx") %>">
                            <span class="nav-icon"><i class="fa fa-question-circle fa-2x"></i></span>
                            <span class="nav-text">Support</span>
                        </a>
                    </li>
                </ul>
                <div class="nav-ctrl btn-group hide"><a class="btn hover-teal btn-icon btn-xs"><span class="icon-arrow-left"></span></a><a class="btn hover-teal btn-icon btn-xs"><span class="icon-arrow-right"></span></a>
                </div>
                <div class="nav-fake-padding bg-dark hide"></div>
            </div>
            <div class="sidebar-resize-handler"></div>
            <canvas id="chartjs-bar4" style="display:none"></canvas> 
        </aside>
            <form runat="server" defaultbutton="DoNothing">
                 <asp:Button ID="DoNothing" runat="server" Enabled="false" style="display: none;" />
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        
        </asp:ContentPlaceHolder>
    </form>
    </main>
    <!-- /#MAIN -->
    
    <!-- VENDORS : jQuery & Bootstrap -->
    <script src="https://testportalcdn.azureedge.net/Scripts/vendor.js"></script>
    <!-- END VENDORS -->
    
    <!-- COMPONENTS -->
    <script src="https://testportalcdn.azureedge.net/Scripts/bootstrap-select.min.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/jquery.easypiechart.js"></script>
	<script src="https://testportalcdn.azureedge.net/Scripts/dataTables.bootstrap.js"></script>
	<script src="https://testportalcdn.azureedge.net/Scripts/dataTables.tableTools.js"></script>

<%--<script src="<%= Page.ResolveClientUrl("~/Scripts/dataTables.bootstrap.js")%>"></script>
    <script src="<%= Page.ResolveClientUrl("~/Scripts/dataTables.tableTools.js")%>"></script> --%>

	<script src="https://testportalcdn.azureedge.net/Scripts/jquery.validate.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/dropzone.js"></script>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
    </script>
    <script src="https://testportalcdn.azureedge.net/Scripts/fileinput.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/Sortable.min.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/jquery.tagsinput.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/jquery.mask.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/select2.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/jquery.selectBoxit.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/moment.js"></script>
    <script src="<%= Page.ResolveClientUrl("~/Scripts/daterangepicker.js")%>"></script>
    <script src="<%= Page.ResolveClientUrl("~/Scripts/jquery-minicolors.js")%>"></script>
    <script src="<%= Page.ResolveClientUrl("~/Scripts/typeahead.bundle.js")%>"></script>
    <script src="<%= Page.ResolveClientUrl("~/Scripts/sweetalert.js")%>"></script>
    <!-- END COMPONENTS -->

    <!-- DEPENDENCIES : Required plugins -->
    <script src="https://testportalcdn.azureedge.net/Scripts/dependencies.js"></script>
    <!-- END DEPENDENCIES -->

    <!-- WRAPKIT --> 
    <script src="https://testportalcdn.azureedge.net/Scripts/wrapkit.js"></script>
    <!-- END WRAPKIT -->

    <!-- WRAPKIT SETUPS -->
    <script src="https://testportalcdn.azureedge.net/Scripts/wrapkit-setup.js"></script>
    <!-- end WRAPKIT SETUPS -->

    <!-- PLUGIN SETUPS: vendors & dependencies setups -->
    <script src="https://testportalcdn.azureedge.net/Scripts/plugin-setups.js"></script>
    <!-- END PLUGIN SETUPS -->

    <!-- COMPONENTS -->
    <!-- Morris.js + Raphael -->
    <script src="https://testportalcdn.azureedge.net/Scripts/morris.bundle.js"></script>
    <!-- END COMPONENTS -->

    <!-- CHARTS -->
<%--    <script src="http://www.chartjs.org/dist/master/Chart.min.js"></script>--%>
        <script src="<%= Page.ResolveClientUrl("~/Scripts/Chart.min.js")%>"></script>

<%--    <script src="https://testportalcdn.azureedge.net/Scripts/chartjs.js"></script>--%>
<%--        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>--%>
    
    <!-- END CHARTS -->
    <script src="https://testportalcdn.azureedge.net/Scripts/morris.bundle.js"></script>

    <!-- DUMMY: Use for demo -->
<%--    <script src="https://testportalcdn.azureedge.net/Scripts/demo/chartjs-demo.js"></script>--%>
    <script src="https://testportalcdn.azureedge.net/Scripts/demo/chart-inline-demo.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/demo/progressbar-demo.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/demo/frm-advance-demo.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/fullcalendar.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/clndr.js"></script>
    <script src="https://testportalcdn.azureedge.net/Scripts/demo/plugin-calendar-demo.js"></script>   	
	<!-- Custom Script -->
	<script src="https://testportalcdn.azureedge.net/Scripts/script.js"></script>

<%--        <script src="<%= Page.ResolveClientUrl("~/Scripts/script.js")%>"></script>--%>
    
	<script>
	    loadingDocument();
	   

	    function startRot() {
	        rotated = false;
	        rotate_factor = 0;
	    }
	    function loadMe(e) {
	        var newImageWidth = e.width;
	        var newImageHeight = e.height;
	        var canvasWidth = 350;
	        var canvasHeight = 350;
	        var imageAspectRatio = e.width / e.height;
	        var canvasAspectRatio = canvasWidth / canvasHeight;
            if (imageAspectRatio < canvasAspectRatio) {
                newImageHeight = canvasHeight;
                newImageWidth = e.width * (newImageHeight / e.height);
            }
            else if (imageAspectRatio > canvasAspectRatio) {
                newImageWidth = canvasWidth
                newImageHeight = e.height * (newImageWidth / e.width);
            }
            else {
                newImageWidth = 350;
                newImageHeight = 350;
            }
	        var margins;
	        if (newImageWidth == 350) {
	            jQuery(e).css({
	                'width': newImageWidth,
	                'height': newImageHeight,
	                'margin-top': '10%'
	            });
	        }
	        else {
	            jQuery(e).css({
	                'width': newImageWidth,
	                'height': newImageHeight
	            });
	        }
	    }
	    function rotateMe(e) {
	        try {
	            rotate_factor += 1;
	            var rotate_angle = (90 * rotate_factor) % 360;
	            if (rotated) {

	                if (e.width == 350) {
	                    jQuery(e).css({
	                        'margin-top': '10%',
	                        '-webkit-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-moz-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-o-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-ms-transform': 'rotate(' + rotate_angle + 'deg)',
	                        'transform': 'rotate(' + rotate_angle + 'deg)'
	                    });
	                }
	                else {
	                    jQuery(e).css({
	                        '-webkit-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-moz-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-o-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-ms-transform': 'rotate(' + rotate_angle + 'deg)',
	                        'transform': 'rotate(' + rotate_angle + 'deg)'
	                    });
	                }
	                rotated = false;
	            }
	            else {
	                if (e.width == 350 && e.height == 300) {
	                    jQuery(e).css({
	                        'margin-top': '10%',
	                        '-webkit-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-moz-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-o-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-ms-transform': 'rotate(' + rotate_angle + 'deg)',
	                        'transform': 'rotate(' + rotate_angle + 'deg)'
	                    });
	                }
	                else if (e.width == 350 && e.height < 300) {
	                    jQuery(e).css({
	                        'margin-top': '20%',
	                        '-webkit-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-moz-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-o-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-ms-transform': 'rotate(' + rotate_angle + 'deg)',
	                        'transform': 'rotate(' + rotate_angle + 'deg)'
	                    });
	                }
	                else {
	                    jQuery(e).css({
	                        '-webkit-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-moz-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-o-transform': 'rotate(' + rotate_angle + 'deg)',
	                        '-ms-transform': 'rotate(' + rotate_angle + 'deg)',
	                        'transform': 'rotate(' + rotate_angle + 'deg)'
	                    });
	                }
	                rotated = true;
	            }
	        }
	        catch (err) {
	            alert(err);
	        }
	    }

	    function showLoader() {
	        $(document.body).addClass("loading");
	    }

	    function hideLoader() {
	        $(document.body).removeClass("loading");
	    }
	    function isInvalidEmail(inputtxt) {
	        try {
	            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	            if (re.test(inputtxt)) {

	                return false;
	            }
	            else {
	                showAlert('Is invalid email address');
	                return true;
	            }

	        }
	        catch (err) {
	            alert(err)
	        }
	    }

	    Object.size = function (obj) {
	        var size = 0, key;
	        for (key in obj) {
	            if (obj.hasOwnProperty(key)) size++;
	        }
	        return size;
	    };

	    var dates = {
	        convert: function (d) {
	            // Converts the date in d to a date-object. The input can be:
	            //   a date object: returned without modification
	            //  an array      : Interpreted as [year,month,day]. NOTE: month is 0-11.
	            //   a number     : Interpreted as number of milliseconds
	            //                  since 1 Jan 1970 (a timestamp) 
	            //   a string     : Any format supported by the javascript engine, like
	            //                  "YYYY/MM/DD", "MM/DD/YYYY", "Jan 31 2009" etc.
	            //  an object     : Interpreted as an object with year, month and date
	            //                  attributes.  **NOTE** month is 0-11.
	            return (
                    d.constructor === Date ? d :
                    d.constructor === Array ? new Date(d[0], d[1], d[2]) :
                    d.constructor === Number ? new Date(d) :
                    d.constructor === String ? new Date(d) :
                    typeof d === "object" ? new Date(d.year, d.month, d.date) :
                    NaN
                );
	        },
	        compare: function (a, b) {
	            // Compare two dates (could be of any type supported by the convert
	            // function above) and returns:
	            //  -1 : if a < b
	            //   0 : if a = b
	            //   1 : if a > b
	            // NaN : if a or b is an illegal date
	            // NOTE: The code inside isFinite does an assignment (=).
	            return (
                    isFinite(a = this.convert(a).valueOf()) &&
                    isFinite(b = this.convert(b).valueOf()) ?
                    (a > b) - (a < b) :
                    NaN
                );
	        },
	        inRange: function (d, start, end) {
	            // Checks if date in d is between dates in start and end.
	            // Returns a boolean or NaN:
	            //    true  : if d is between start and end (inclusive)
	            //    false : if d is before start or after end
	            //    NaN   : if one or more of the dates is illegal.
	            // NOTE: The code inside isFinite does an assignment (=).
	            return (
                     isFinite(d = this.convert(d).valueOf()) &&
                     isFinite(start = this.convert(start).valueOf()) &&
                     isFinite(end = this.convert(end).valueOf()) ?
                     start <= d && d <= end :
                     NaN
                 );
	        }
	    }
	    function isInvalidDouble(inputtxt) {
	        try {
	            if (inputtxt.length > 1) {
	                if (/^[0-9. -]*$/.test(inputtxt) == false)
	                { showAlert('Your input contains non numeric characters'); return true; }
	                else
	                { return false; }
	            }
	            else {
	                if (inputtxt != ".") {
	                    if (/^[0-9. -]*$/.test(inputtxt) == false)
	                    { showAlert('Your input contains non numeric characters'); return true; }
	                    else
	                    { return false; }
	                }
	                else { showAlert('Your input has an invalid character'); return true; }
	            }
	        }
	        catch (err)
	        { alert(err) }
	    }
	    function ValidateIPaddress(ipaddress) {
	        if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {
	            return (true)
	        }
	        showAlert("You have entered an invalid IP address!")
	        return (false)
	    }
	    function isUrl(s) {
	        var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
	        if (regexp.test(s) == false) {
	            showAlert("You have entered an invalid URL address!")
	            return false;
	        }
	        else {
	            return true;
	        }
	    }
	    var continueanimation = false;
	    function playpauseclick() {
	        if (document.getElementById('playpausefilter').innerHTML == '<i class="fa fa-play-circle"></i>PLAY') {
	            document.getElementById('playpausefilter').innerHTML = "<i class='fa fa-stop'></i>STOP";
	            continueanimation = true;
	        }
	        else {
	            document.getElementById('playpausefilter').innerHTML = "<i class='fa fa-play-circle'></i>PLAY";
	            continueanimation = false;
	        }
	    }
	    function incidentplaypauseclick() {
	        if (document.getElementById('incidentplaypausefilter').innerHTML == '<i class="fa fa-play-circle"></i>PLAY') {
	            document.getElementById('incidentplaypausefilter').innerHTML = "<i class='fa fa-stop'></i>STOP";
	            continueanimation = true;
	        }
	        else {
	            document.getElementById('incidentplaypausefilter').innerHTML = "<i class='fa fa-play-circle'></i>PLAY";
	            continueanimation = false;
	        }
	    }
	    function animateCircle(line) {
	        var counter = 0;
	        var accessVar = window.setInterval(function () {
	            if (continueanimation) {
	                counter = (counter + 1) % 350;

	                var arrows = line.get('icons');
	                arrows[0].offset = (counter / 2) + '%';
	                line.set('icons', arrows);
	            }
	        }, 50);
	    }
	    var iconsetngs = {
	        path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,
	        fillOpacity: 0.8,
	        scale: 1,
	        strokeColor: 'white',
	        strokeWeight: 3
	    };
	    function isPort(port) {
	        try {
	            p = parseInt(port);
	            if ((12 <= p) && (p <= 65535) && !isNaN(p)) {
	                return true;
	            }
	            else {
	                showAlert("Please enter a valid port range (12-65535).");
	                return false;
	            }
	        }
	        catch (err) {
	            showAlert("Please enter a valid port.");
	            return false;
	        }
	    }
	    function getSelectedText(elementId) {
	        var elt = document.getElementById(elementId);

	        if (elt.selectedIndex == -1)
	            return null;

	        return elt.options[elt.selectedIndex].text;
	    }
	    function isEmptyOrSpaces(str) {
	        return str === null || str.match(/^ *$/) !== null;
	    }
	    function isArabic(text) {
	        var pattern = /[\u0600-\u06FF\u0750-\u077F]/;
	        result = pattern.test(text);
	        return result;
	    }
	    function isSpecialChar(str) {
	        try{
	            if (/^[a-zA-Z0-9,.&-+? \-\//\n/]*$/.test(str) == false) {
	                if (isArabic(str)) {
	                    return false;
	                }
	                else {
	                    showAlert('Your input contains illegal characters.');
	                    return true;
	                }
	            }
	            else {
	                return false;
	            }
	        }
	        catch (errx) {
	            showAlert('Your input contains illegal characters.');
	            return true;
	        }
	    }
	    function isNumeric(obj) {
	        return !jQuery.isArray(obj) && (obj - parseFloat(obj) + 1) >= 0;
	    }
	    function showRemarks(message) {
	        swal({
	            title: "Remarks",
	            text: message,
	            confirmButtonText: "OK",
	            customClass: 'twitter'
	        });
	    }
	    function showNotes(message) {
	        swal({
	            title: "Notes",
	            text: message,
	            confirmButtonText: "OK",
	            customClass: 'twitter'
	        });
	    }
	    function showAlert(message) {
	        swal({
	            title: "Information",
	            text: message,
	            confirmButtonText: "OK",
	            customClass: 'twitter'
	        });
	    }
	    function showError(message) {
	        swal({
	            title: "Error",
	            text: message,
	            confirmButtonText: "OK",
	            customClass: 'twitter'
	        });
	    }
		try{
		var A = YUI().use(
  'aui-scheduler',
  function (A) {
      // code goes here
      
     
  }
);}catch(err){console.log(err);}

	</script>
</body>

</html>